.loginContainer {
    width: 500px;
}

.booknowContainer {
    width: 900px;
}

.table-warning {
    --bs-table-bg: #fffdbd;
}

.table {
    width: 80%;
    margin: 0 auto;
}

.thankyouContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}